

<h3>Your question was: <em><%= @question %></em></h3>

<h2>Your answer is: <em><%= @answer %></em></h2>

<p>Thanks for asking!</p>

<p>
	<%= link_to "Ask another question", magic_eight_ball_path %>
	<%= link_to "Back to arcade", root_path %>
</p>
