<h2>Magic Eight Ball</h2>

<p>Ask me a question by adding it to the end of the path and pressing ENTER. <br>
	My wisedom will follow....</p>
	
<p>
	Here are some ideas:
	<ul>
		<li>
			<%= link_to "Should i go to work today?", ask_question_path('should-i-go-to-work-today') %>	
		</li>
		<li>
			<%= link_to "Should i ask a question?", ask_question_path('should-i-ask-a-question') %>	
		</li>
	</ul>
</p>

<p>
	<%= link_to "Back to arcade", root_path %>
</p>