<h1>Welcome to the Movies App</h1>

<p>Please select from our catalogue below:</p>

<ul>
	<% @movies.each do | movie | %>
	<li><%= link_to movie.title, movie_show_path(movie) %> </li>
	<% end %>
</ul>	