<h2>Welcome to the Arcade</h2>

<h3>Choose a game to play</h3>

<ul>
	<li><%= link_to 'Magic Eight Ball', magic_eight_ball_path %></li><!--using the name set in the routes file-->
	<li><%= link_to 'Secret Number', secret_number_path %></li>
	<li><%= link_to 'Rock, Paper, Scissors', rock_paper_scissors_path %></li>
</ul>