<% if @movie.errors.any? %>
<div class="errors">
	<h4>There were problems editing this movie</h4>
	<ul>
	<% @movie.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>
</div>

<% end %>